<form method="post" action="" class="col-md-4 col-md-offset-4 connexion">
    <h1 class="alert text-center"><?= $title ?></h1>

    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="pseudo">
    </div>
    <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input type="password" class="form-control" id="mdp" name="mdp" placeholder="mot de passe">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary col-md-offset-4">Connexion</button>
    </div>
</form>