<?= $erreur ?>

<!-- Réaliser un formulaire -->
<form method="post" action="" class="col-md-8 col-md-offset-2">
    <h1 class="alert alert-info text-center"><?= $title ?></h1>

    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" name="pseudo" placeholder="pseudo">
    </div>
    <div class="form-group">
        <label for="mdp">Mot de passe</label>
        <input type="password" class="form-control" id="mdp" name="mdp" placeholder="mot de passe">
    </div>
    <div class="form-group">
        <label for="nom">Prénom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="nom">
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="prénom">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <label for="civilite">Civilité</label>
        <select class="form-control" name="civilite">
            <option value= "m">Homme</option>
            <option value="f">Femme</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ville">Ville</label>
        <input type="text" class="form-control" id="ville" name="ville" placeholder="ville">
    </div>
    <div class="form-group">
        <label for="code_postal">Code Postal</label>
        <input type="text" class="form-control" id="code_postal" name="code_postal" placeholder="Code Postal">
    </div>
    <div class="form-group">
        <label for="adresse">Adresse</label>
        <textarea type="text" class="form-control" id="adresse" name="adresse" placeholder="adresse"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>