    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <p class="list-group-item active text-center">CATÉGORIES</p>
                <?php foreach($categories as $cat) : ?>
                    <a href="<?= $url ?>produit/boutique/<?= $cat['categorie']; ?>" class="list-group-item"><?= $cat['categorie']; ?></a>
                <?php endforeach; ?>

            </div>
        </div>
        <!--/.sidebar-offcanvas-->

        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="jumbotron">
                <h1>Bienvenue sur notre boutique.</h1>
                <p>Achetez sans modération !</p>
            </div>
            <?php
            foreach ($produits as $produit) :
            ?>
                <div class="col-xs-6 col-lg-4 thumb-produit">
                    <div class="panel-heading text-center"><h2><a href="<?= $url ?>produit/affiche/<?= $produit-> getId_produit(); ?>"><?= $produit ->getTitre(); ?><a/></h2><br>
                        <?= '<img class="img-responsive" src="'. $url .'photo/' . $produit ->getPhoto() .'">';?>
                        <?= '<span class="label label-success col-lg-offset-8">' . $produit -> getPrix() . ' €</span>' ?>
                    </div>
                    <p><?= $produit ->getDescription(); ?>...</p>
                    <p><a class="btn btn-primary col-lg-offset-2" href="<?= $url ?>produit/affiche/<?= $produit-> getId_produit(); ?>" role="button">En savoir plus...</a></p>
                    </div>
            <!--/row-->
        <?php endforeach; ?>
        </div>
        <!--/.col-xs-12.col-sm-9-->

    </div>
    <!--/row-->
